@media (max-width: 540px) {
  .flag, .flag-container{
      height: 40px;
      width: 60px;
      background-size: cover;
      border-radius: 50%;
      overflow: hidden;
    
  }
  .country-data {
      font-size: 12px;
  }
}