body {
  text-align: center;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.main {
  min-height: 900px;
  max-width: 1280px;
}


.search-container {
  display: flex;
  align-items: center;
  background-color: black;
}

.map-container {
  /* background-color: white; */
  border-radius: 16px;
  /* padding: 1rem; */
}

.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#map {
   border-radius: 12px;
   overflow: hidden;
   color: black;
}

.chart-container {
  margin-left: 0;
  margin-right: 0;
}

.chart-container .col {
  background-color: #e9ecef;
  border-radius: 12px;
}

.title-container h1 {
  color: black;
  opacity: 75%;
}

.stats-container .card {
  color: #000000;
  /* background-color:  white; */
  /* opacity: 65%; */
  border-radius: 12px;
  /* box-shadow: 0 0 8px -4px rgba(0,0,0, 0.5); */
  overflow: hidden;
  cursor: pointer;
}

.stats-container .card-body {
  padding: 1rem;
}

.stats-container .card-title {
  color: white;
  font-weight: 400;
}

.stats-container .card-subtitle {
  font-weight: 600;
}

.stats-container .total {
  font-size: 0.8rem;
}

.side-panel-container {
  /* background-color: white; */
  border-radius: 16px;
  box-shadow: 0 0 8px -4px rgba(0,0,0, 0.5);
  padding-top: 15px;
  
}

.side-panel-container .info-flag img {
  width: 200px;
  border-radius: 5px;
  align-items: center;
}

.total-number {
  color: #ffd166;
}

.recovered-number {
  color: #3371a0;
}
.deaths-number {
  color: #d60f2e;
}

.cases-table-container h4, .chart-container h4 {
  color: white;
  opacity: 75%;
  font-weight: 400;
}

.country-data .table td {
  padding: 0.5rem;
  border: none;
  color: white;
  opacity: 75%;
}

.card .card-title {
  color: white;
  opacity: 75%;
}

.card.active > .tab-selection {
  opacity: 1;
}

.tab-selection {
  height: 10px;
  background-color: #d60f2e;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;

}

.card:hover > .tab-selection {
  opacity: 1;
}

.cases .tab-selection {
  background-color: #ffd166;
}

.recovered .tab-selection {
  background-color: #3371a0;
}

.deaths .tab-selection {
  background-color: #B01635;
}